.meat-portions-chart-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.meat-portions-chart-title-wrapper {
  display: inline-flex;
  font-size: 1rem;
  align-items: center;
}

.meat-portions-chart-title-title {
  margin-left: 10px;
}
