.root-layout {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  height: 100vh;
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 1.2rem;
  text-align: center;
  // padding: 0 20px;
}
